<table>
	<!-- column parameters -->
	<col width="240">
	<col width="200">
	<col width="250">
	<col width="100">
	<thead>
		<!-- inputs for adding new row with employee info -->
		<tr ng-form="form" class="table-block">
			<td colspan="4">
				<input type="text" class="form-control table-item" ng-model="$ctrl.firstNameInput" placeholder="First Name" required>
				<input type="text" class="form-control table-item" ng-model="$ctrl.secondNameInput" placeholder="Second Name" required>
				<input type="text" class="form-control table-item" ng-model="$ctrl.positionInput" placeholder="Position" required>
			</td>
		</tr>
		<tr ng-form="form" class="table-block">
			<!-- info message during edit -->
			<td colspan="2">
				<div class="check-element animate-show-hide table-item-message msg-block" ng-show="$ctrl.editing">
					Save current employee info before start editing next!
				</div>
			</td>
			<!-- Add employee info button -->
			<td colspan="2">
				<button class="btn btn-default table-item-btn btn-success right-block" id="submit" ng-click="$ctrl.addEmployee()">
					Save
				</button>
			</td>
		</tr>
		<tr ng-form="form" class="table-block">
			<!-- filter input -->
			<td>
				<select class="form-control table-filter" ng-model="searchString" ng-model-options="{debounce: 1000}" on-change="$ctrl.getTableInfo()" placeholder="Filter">
					<option value="" disabled selected>Position Filter</option>
					<option ng-repeat="position in $ctrl.positions track by $index" id="$index">
						{{position}}
					</option>
				</select>
			</td>
			<!-- button for clear filter -->
			<td>
				<button ng-click="searchString = ''" class="btn btn-default table-item-btn btn-primary">
					Сlear filter
				</button>
			<!-- block with buttons for deleting -->
			<td colspan="2">
				<div class="delete-block">
					<button type="submit" class="btn btn-default table-item-btn btn-danger" id="submit" ng-click="$ctrl.clearTable(); $event.preventDefault();">
						Сlear All
					</button>
					<button type="submit" class="btn btn-default table-item-btn btn-danger" id="submit" ng-click="$ctrl.deleteChecked(); $event.preventDefault();">
						Delete Checked
					</button>
				</div>
			</td>
		</tr>
		<tr class="table-block">
			<th ng-click="$ctrl.sortTable('firstName')">First Name</th>
			<th ng-click="$ctrl.sortTable('secondName')">Second Name</th>
			<th ng-click="$ctrl.sortTable('position')">Position</th>
			<th>Edit | Check</th>
		</tr>
	</thead>
	<!-- table with content from server -->
	<tbody>
		<tr ng-repeat="employee in $ctrl.employee | employeeFilter:searchString | orderBy:$ctrl.order">
			<td>{{employee.firstName}}</td>
			<td>{{employee.secondName}}</td>
			<td>{{employee.position}}</td>
			<td>
				<span class="glyphicon glyphicon-pencil icon-block " ng-click="$ctrl.editing || $ctrl.editEmployee(employee)" ng-disabled="">
				</span>
				<div class="checkbox icon-block">
					<label>
						<input type="checkbox" checklist-model="$ctrl.checked" checklist-value="employee.index">
					</label>
				</div>
			</td>
		</tr>
	</tbody>
</table>
